<!--The content below is only a placeholder and can be replaced.-->
<div class="card">
  <div class="card-header">
    <h1>People</h1>
  </div>
  <div class="card-body">
    <div class="container">
      <form [formGroup]="myGroup">
        <div class="row">
          <div class="col-4"><label for="lastName">Last Name:</label>
          </div>
          <div class="col-4">
            <input id="lastName" type=text formControlName="lastName">
            <div>Last Name: {{ myGroup.controls["lastName"].value }}</div>
          </div>
        </div>
        <div class="row">
          <div class="col-4"><label for="firstName">First Name:</label>
          </div>
          <div class="col-4">
            <input id="firstName" type=text formcontrolname="firstName">
          </div>
        </div>
        <div class="row">
          <div class="col-4"><label for="email">Email:</label>
          </div>
          <div class="col-4">
            <input id="email" type=text formcontrolname="email">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>