<!--The content below is only a placeholder and can be replaced.-->
<div class="card">
  <div class="card-header">
    <h1>People</h1>
  </div>
  <div class="card-body">
    <div class="container">
      <form [formGroup]="myGroup" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="col-4"><label for="something">Last Name:</label>
          </div>
          <div class="col-4">
            <input id="something" class="form-control" formControlName="lastName">
            <!-- <div>Last Name: {{ myGroup.controls["lastName"].value }}</div> -->
          </div>
        </div>
        <div class="row">
          <div class="col-4"><label for="ctlfirstName">First Name:</label>
          </div>
          <div class="col-4">
            <input id="ctlfirstName" class="form-control" formControlName="firstName">
            <div *ngIf="myGroup.controls['firstName'].errors" class="invalid-feedback">
              <div *ngIf="myGroup.controls['firstName'].errors.required">First Name is required</div>
          </div>
</div>
        </div>
        <div class="row">
          <div class="col-4"><label for="ctlemail">Email:</label>
          </div>
          <div class="col-4">
            <input id="ctlemail" class="form-control" formControlName="email">
          </div>
        </div>
        <div class="row">
          <div class="col-4">
            <button class="btn btn-primary" type="submit">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>